<div *ngIf='signalRService.data'>
    <p-table #dt [columns]="cols" [value]="signalRService.data" selectionMode="single" [(selection)]="selectedRecord"
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
        <ng-template pTemplate="caption">
            <h4>Corona Virus Data Management</h4>
            <div style="text-align: right;">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th>USA</th>
                <th>All</th>
                <th>{{getPropertySum('infectedNo')}}</th>
                <th>{{getPropertySum('recoveredNo')}}</th>
                <th>{{getPropertySum('deathNo')}}</th>
                <th>{{getLastUpdateTime() | date: 'MMM dd, y, HH:mm:ss'}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{col.field === 'signalTime' ? (rowData[col.field] | date: 'MMM dd, y, HH:mm:ss') : typeOf(rowData[col.field]) === 'number' ? (rowData[col.field] | number: '1.0-0') : rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Car Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="record">
        <div class="p-col-4">
            <label>Country</label>
        </div>
        <div class="p-col-8">
            <label for="country">{{record.country}}</label>
        </div>
        <div class="p-col-4">
            <label>State</label>
        </div>
        <div class="p-col-8">
            <label for="state">{{record.state}}</label>
        </div>
        <div class="p-col-4">
            <label for="infectedNo">Infected</label>
        </div>
        <div class="p-col-8">
            <input pInputText type="number" id="infectedNo" [(ngModel)]="record.infectedNo" />
        </div>
        <div class="p-col-4">
            <label for="recoveredNo">Recovered</label>
        </div>
        <div class="p-col-8">
            <input pInputText type="number" id="recoveredNo" [(ngModel)]="record.recoveredNo" />
        </div>
        <div class="p-col-4">
            <label for="deathNo">Death</label>
        </div>
        <div class="p-col-8">
            <input pInputText type="number" id="deathNo" [(ngModel)]="record.deathNo" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancel"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>